[Unit]
Description=DVM web application.
Documentation=http://www.github.com/miku/dvmweb
After=network.target

[Service]
Type=simple
User=daemon
WorkingDirectory=/tmp
ExecStart=/usr/sbin/dvmweb -dsn /opt/dvmweb/data.db -i /opt/dvmweb/static/images -log /var/log/dvmweb.log -s /opt/dvmweb/static -v /opt/dvmweb/static/videos -t /opt/dvmweb/templates
Restart=on-failure

[Install]
WantedBy=multi-user.target

